<?xml version="1.0"?>
<config>
    <modules>
        <MGS_InstantSearch>
            <version>0.0.1</version>
        </MGS_InstantSearch>
    </modules>
    <global>
        <blocks>
            <instantsearch>
                <class>MGS_InstantSearch_Block</class>
            </instantsearch>
        </blocks> 
		<helpers>
			<instantsearch>
				<class>MGS_InstantSearch_Helper</class>
			</instantsearch>
		</helpers>  
	</global>
    <default>
        <instantsearch>
            <general>
                <view_more_label>View more</view_more_label>
            </general>
            <product_search>
                <show_short_description>1</show_short_description>
                <show_review>1</show_review>
            </product_search>
        </instantsearch>
    </default>
    <frontend>
        <routers>
            <instantsearch>
                <use>standard</use>
                <args>
                    <module>MGS_InstantSearch</module>
                    <frontName>instantsearch</frontName>
                </args>
            </instantsearch>
        </routers>
        <layout>
            <updates>
                <instantsearch>
                    <file>instantsearch.xml</file>
                </instantsearch>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
        <layout>
            <updates>
                <instantsearch module="MGS_InstantSearch">
                    <file>instantsearch.xml</file>
                </instantsearch>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <instantsearch>
                                            <title>Store Instant Search Module Section</title>
                                        </instantsearch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>